<div class="card">
  <h1>
    Carrousel de imagenes
  </h1>
</div>

<div class="card">

  <h2>Seccion de productos</h2>

  <div class="grid grid-ngrouter ng-star-inserted">
<!---->
<div class="grid grid-ngrouter">
  <div class="col-12 md:col-4 lg:col-4" *ngFor="let producto of listaProductos">
    <div class="card m-3 border-1 surface-border">
      <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
        <div class="flex align-items-center">
          <!-- Información adicional -->
        </div>
      </div>
      <div class="flex flex-column align-items-center text-center mb-3">
        <img class="w-9 shadow-2 my-3 mx-0" src="{{ producto.imgProductPath }}" alt="product">
        <div class="text-2xl font-bold">{{ producto.comercialName }}</div>
        <p>{{ producto.description }}</p>
        <div class="mb-3">stock: <br>{{ producto.stock }}</div>
      </div>
    </div>
  </div>
</div>
<!---->

<!---->


  </div>

</div>
