<div class="flex flex-column align-items-center justify-content-center min-h-screen bg-gym">
  <h1
    style="
      -webkit-text-stroke: 2px black;
      color: rgb(180, 222, 14);
      font-weight: bold;
      text-align: center;
    "
  >
    Register a Nutrient
  </h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-75 card p-4">
    <!-- Name -->
    <div class="p-fluid">
      <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">Nombre:</label>
      <input
        pInputText
        id="name"
        formControlName="name"
        class="p-inputtext p-component p-element"
      />
    </div>

    <!-- Buttons -->
    <div class="flex gap-3 mt-3 justify-content-center">
      <button
        pButton
        pRipple
        type="submit"
        [disabled]="form.invalid"
        label="Register Nutrient"
        class="p-button-rounded p-button-warning"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        class="p-button-rounded p-button-danger"
        (click)="cancel()"
      ></button>
    </div>
  </form>
</div>
